/* Custom Navbar */
.navbar {
    background-color: #ffffff; /* สีพื้นหลัง */
    border-bottom: 2px solid #f0f0f0; /* เส้นขอบด้านล่าง */
    padding: 0.5rem 1rem; /* ระยะห่างภายใน */
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333; /* สีของชื่อแอป */
  }
  
  .navbar-brand:hover {
    color: #007bff; /* เปลี่ยนสีเมื่อชี้ */
  }
  
  .navbar-toggler {
    border: none; /* เอาขอบออก */
  }
  
  .navbar-toggler-icon {
    color: #333333; /* ไอคอนสี */
  }
  
  /* Dropdown Menu */
  .nav-dropdown {
    color: #333333;
  }
  
  .nav-dropdown .dropdown-menu {
    border-radius: 0.5rem; /* มุมมน */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
    background-color: #ffffff; /* พื้นหลังเมนู */
    border: 1px solid #ddd; /* เส้นขอบ */
  }
  
  .nav-dropdown .dropdown-item {
    padding: 0.5rem 1rem; /* ระยะห่างรายการ */
    color: #333333; /* สีตัวอักษร */
    font-size: 1rem; /* ขนาดตัวอักษร */
  }
  
  .nav-dropdown .dropdown-item:hover {
    background-color: #007bff; /* สีพื้นหลังเมื่อชี้ */
    color: #ffffff; /* สีตัวอักษรเมื่อชี้ */
  }
  
  /* Align menu to the right */
  .nav .dropdown-menu {
    right: 0; /* เลื่อนเมนูไปชิดขวา */
    left: auto;
  }


.title-dashboard  {
  left: 1000px;
  margin: auto;
  color: #ffffff;
  padding: 0px;
  position: relative;
  
}

.dashboard-container{
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 250px;
  position: absolute;
}

.pie-chart{
  grid-column: 1/4;
  grid-row: 1/3;
  margin-bottom: 10px;
  position: relative;
  right: 105px;
  
}

.card-container{
  grid-column: 3/4;
  grid-row: 1/2;;
  margin-top: 50px;
  margin-left: 300px;
  position: absolute;
  left: 70px;
}

.bar-chart{
  grid-column: 3/4;
  grid-row: 2/3;
  margin-left: 400px;
  position: relative;
  left: 140px;
  bottom: 5px;
  width: 100%;
}

.line-chart{
  grid-column: 1/4;
  grid-row: 3/4;
  margin-left: 115px;
  

}





