
.chart-container {
    max-width: 1500px;
    max-height: 400px;
    margin:auto;
    padding: 5px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}