
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

body {
  width: 1440px;
  height: 1024px;
  /* position: relative; */
  background: linear-gradient(to bottom left, rgb(254, 74, 37,0.8), rgb(38, 22, 144,0.8));
  font-family: 'Sukhumvit Set';
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-style: normal;
  font-family: 'Unbounded';
}



tr, th, td {
  font-size: 16px;
}
