.btn-new{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: solid 2px white;
    background-color: #473366;
    position: relative;
    left: 1460px;
    padding: 15px 50px ;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 5px 1px ;

}

.btn-upload {
    background-color: #fd6e2b;
    color: white;
    padding: 8px 8px ;
    border-radius: 5px;
    border: none;
}

.modal-body p {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
    
  }


 


  .btn-up{
    background-color: #fd6e2b;
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    padding: 6px;
    font-size: 18px;
  }

  .close{
    background-color: #fd6e2b;
    color: white;
    border-radius: 30px;
    width: 50px;
    border: 1px solid black;
    margin-bottom :10px;
  }

  .b{
    background-color: #b8b8b8;
    padding: 6px;
    width: 70px;
    font-size: 18px;
    
  }
  
  .lo{
    width: 100%;
  }