/* Container for the search bar and results */
/* .search-container {
    position: relative;
  }
/*    */
  Style for the search bar
  .search-bar {
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
  } */
  
  /* Style for the search results list */
  .results  {
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: relative;

    
    
  }
  
  /* Style for individual result items */
  .search-results li {
    padding: 5px 0;
    background-color: white;
    list-style: none;
    
  }
  
  /* Style for "No results found" message */
  .no-results {
    color: #ff0808;
    font-style: italic;
  }

  .results-container {
    background-color: white;
    list-style: none;
    text-decoration: none;
    width: 79%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
    left: 410px;
    top: 120px;

  }
  .li-item{
    text-decoration: none;
    list-style: none;
    color: black;
  }

  .bi-search{
    position: absolute;
    left: 380px;
    top: 74px;
    color: black;
    z-index: 5;
    font-size: 25px;
    font-weight: 500 ;

  }